streamlit
creds
dotenv

pandas


scikit-learn
pip == 24.1.1
certifi==2024.6.2
charset-normalizer==3.3.2
idna==3.7
numpy==2.0.0
packaging==24.1
pillow==10.3.0
protobuf==5.27.2
Pygments==2.18.0
pytz==2024.1
requests==2.32.3
rpds-py==0.18.1
six==1.16.0
smmap==5.0.1
tenacity==8.4.2
toml==0.10.2
toolz==0.12.1
tornado==6.4.1
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
watchdog==4.0.1






